<div class="vertical-center">
    <seed-card
        title="Angular Docs"
        description="Learn about the latest updates to the Angular framework."
        linkText="View Angular Docs"
        (click)="viewAngular()"></seed-card>
    <seed-card
        title="Electron Docs"
        description="Learn about the latest updates to the Electron framework."
        linkText="View Electron Docs"
        (click)="viewElectron()"></seed-card>
    <seed-card
        title="Seed"
        description="Learn more about the Angular Electron seed or report an issue."
        linkText="View Repository"
        (click)="viewRepository()"></seed-card>
</div>
